aws_region                  = "us-east-1"
cluster_name                = "demo-eks"
domain_name                 = "alpfrtech.com"
app_subdomain               = "app"
app_image                   = "123456789012.dkr.ecr.us-east-1.amazonaws.com/demo-app:v1"
aws_load_balancer_controller_chart_version = "1.11.0"
create_route53_zone         = false

# Optional: To deploy into an existing VPC instead of creating a new one:
# vpc_id                      = "vpc-04069dd8bf42ea2db"
# subnet_ids                  = ["subnet-03f4fa3bbc5483337", "subnet-0b6b50957d12ea8bb"]


