aws_region                  = "us-east-1"
cluster_name                = "demo-eks"
domain_name                 = "example.com"
app_subdomain               = "app"
app_image                   = "123456789012.dkr.ecr.us-east-1.amazonaws.com/demo-app:v1"
ingress_nginx_chart_version = "4.15.1"
